/* Hoovers for Links*/
a,
a:focus,
a:hover {
  color: black;
  font-family: 'Aleo', serif;

}

/* Buttons & Links */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: black;
  text-shadow: none;
  border: 1px solid #fff;
  font-family: 'Aleo', serif;

}

li {
  background-color: white;
  font-style: bolder;
  opacity: 0.7;
  font-family: 'Aleo', serif;
}

.profile {
  font-family: 'Lobster', cursive;
  font-style: bolder;
  font-size: 50px;

}

/* Structure */

html, 
body {
  height: 100%;
  font-family: 'Aleo', serif;

}

#jumbo2 {
  background-image: url("cheers.jpg");
  background-size: cover;
  opacity: 0.8;
}

#jumbo1 {
  opacity: 0.8;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h3{
  font-family: 'Rajdhani', sans-serif;
}

/* Wrappers and Containers */
.site-wrapper {
  display: table;
  width: 100%;
  height: 600px;
  background-image: url("foodheader.jpg");
  /*height: 100%; */
  /*min-height: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding */
.inner {
  padding: 30px;
}


/* Header */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: whitesmoke;
  opacity: 0.8;
  font-family: 'Major Mono Display', monospace;

}

.masthead-nav > li {
  display: inline-block;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: black;
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/* Mobile Responsive */
@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }

/* Cover */
.cover-heading {
  color: white;
  style:bolder;
  font-family: 'Bree Serif', serif;
  font-size: 40px;
  
}

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/* Media Responsive/Vertical Centering */

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }
  
  .site-wrapper-inner {
    vertical-align: middle;
  }

}

/* Parallax Interfaces */

.parallax {
  background-image: url("dish.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax2 {
  background-image: url("drive.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .parallax3 {
  background-image: url("hand.jpg");
  min-height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .parallax4 {
    background-image: url("dinner.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .parallax5 {
    background-image: url("wine.gif");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .parallax6 {
      background-image: url("hoola.gif");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .parallax7 {
      background-image: url("cheers.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


    .parallax9 {
      background-image: url("drive.gif");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .parallax10 {
      background-image: url("driving.gif");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .parallax11 {
      background-image: url("serve.gif");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .parallax12 {
      background-image: url("driving2.gif");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .parallaxCode {
      background-image: url("coding.gif");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
.ParallaxImage {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
.ParallaxImage h1 {
  font-weight: 700;
  font-size: 76px;
  text-align: center;
  text-transform: uppercase;
  color:#FFF;
  font-family: 'Aleo', serif;

}

.ParallaxVideo{ 
  height: 700px;
  padding-bottom: 50px;
  padding-top: 50px; 
  }
  .ParallaxVideo video{ 
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -999;
  }

  .ParallaxVideoForm{ 
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px; 
    }
    .ParallaxVideoForm video{ 
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -999;
    }

  .ParallaxVideo h1 {
    font-family: 'Aleo', serif;
    color: #fff;
    font-size: 76px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }